<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # If the requested file is an asset in build/ (CSS/JS/Images) or downloads
    RewriteCond %{REQUEST_URI} build/ [OR]
    RewriteCond %{REQUEST_URI} downloads/ [OR]
    RewriteCond %{REQUEST_URI} storage/
    RewriteRule ^(.*)$ adminlaravel/public/$1 [L]
    
    # Otherwise route everything to the custom root index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]
</IfModule>